In [1]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [15]:
# Peaks
PEAK_DIR = '/work-zfs/abattle4/heyuan/Variant_calling/datasets/GBR/ATAC_seq/alignment_bowtie/Peaks'
peaks = pd.read_csv('%s/peak_by_sample_matrix.txt' % PEAK_DIR, sep=' ')
peaks = peaks[peaks.columns[:-1]]
peaks.head()


# sample read depth
bam_stats = pd.read_csv('/work-zfs/abattle4/heyuan/Variant_calling/datasets/GBR/ATAC_seq/alignment_bowtie/first_pass_bqsr/bam_stats.txt', sep='\t', header=None)
bam_stats.columns=['Sample', 'Reads']

,PeakID,CHR,START,END,HG00103,HG00105,HG00106,HG00107,HG00111,HG00112,...,HG00238,HG00242,HG00243,HG00247,HG00254,HG00264,HG00265,HG01790,HG01791,HG02215
0,Peak1,1,9932,10691,677,472,846,489,518,449,...,627,513,737,596,665,342,555,492,609,398
1,Peak2,1,10434,10681,149,120,173,81,97,108,...,131,85,154,142,108,116,136,141,150,84
2,Peak3,1,10974,11203,49,38,69,35,36,33,...,49,42,57,49,29,44,69,59,54,36
3,Peak4,1,10993,11486,127,113,190,130,102,89,...,149,125,191,114,91,194,198,172,165,121
4,Peak5,1,15528,15753,13,15,24,28,12,38,...,13,43,14,16,6,54,49,12,37,7

In [ ]:
## Compute RPKM (Reads per kilo base per million mapped reads)
read_depth = np.array(bam_stats.set_index('Sample').loc[peaks.columns[4:]]['Reads'])
peak_width = np.array(peaks['END'] - peaks['START']) / 1e6

x = np.divide(np.array(peaks[peaks.columns[4:]]) , read_depth)
RPKM = np.divide(x.transpose(), peak_width).transpose()

In [ ]:
## Read in Genotpye
sample = 'HG00105'
Genotype_dir = '/work-zfs/abattle4/heyuan/Variant_calling/datasets/GBR/ATAC_seq/alignment_bowtie/Called_GT/'
gt_dat = pd.read_csv('%s/%s.filtered.genotype.minDP3.txt' % (Genotype_dir, sample), sep='\t')
gt_dat.head()